
%h3 Comments
/commentable variable is passed through and changes which comments are shown
= commentable.comments.each do |comment| 
	#comment
		= comment.comment
		= comment.user.email
		=link_to "Delete Reply", [commentable, comment], method: :delete, data: {confirm: "Are you sure you want to do this?"}


%h3 Reply to thread