.form
	.inner
		= form_for [@commentable, @comment] do |f|
			= f.hidden_field :parent_id
			.formItem.formInput
				= f.text_area :comment
			.formItem
				= f.submit 'Submit Comment', :class => "btn btn-m btn-light btn-submit"