.form
	.inner
		= form_for [@commentable, @comment], url: category_artwork_comments_path do |f|
			.formItem
				%h2 Reply to Comment
			.formItem
				= f.hidden_field :parent_id
			.formItem
				= f.text_area :comment
			.formItem
				= f.submit