$('.commentReplyForm').remove(); //remove form
$('.activeReply').show(); //show link again
$('.replyLink.activeReply').removeClass('activeReply'); //remove active reply class from all of them
$('.commentContent').append('<div>New comment here</div>')