= form_for @artwork, :html => {multipart: true}, :url => create_picture_artwork_path(@artwork) do |f|
	= file_field_tag "images[]", type: :file, multiple: true, :class => "fileInput"
	= f.submit 'Update Artwork', disabled: true , :class => "btn btn-m btn-light btn-disabled imageSubmit"