/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


* ==============COLOUR SCHEME===================
* Primary Main = #ec8c25
* Primary Dark = #b4620a
* Primary Light = #fbb76d
* Secondary Main = #151515
* Secondary Dark = #090909
* Secondary Light = #222222
* Tirtiary Main = #ebebeb
* Tirtiary Dark = #d5d5d5
* Tirtiary Light = #f7f7f7


*font-family: 'Heebo', sans-serif;
*===============================================
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================================= */


body {
	margin: 0;
	background-color: #f7f7f7;
}

h1, h2 {
	font-family: 'Heebo', sans-serif;
	font-weight:  700;
	color: #151515;
}

p {
	font-family: 'Heebo', sans-serif;
	font-weight:  400;
}

/* ========== TOP NAVIGATION BAR ========== */

.topBar {
	width: 100%;
	height: 75px;
	background-color: #ec8c25;
	position: fixed;
	z-index: 2;
	-webkit-box-shadow: -1px 2px 25px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 25px -7px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 25px -7px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.topBar a {
	font-family: 'Heebo', sans-serif;
	color: #151515;
	font-weight: 400;
	font-size: 1.2em;
	text-decoration: none;
	padding: 0 5px 0 5px;
}

.topBar a:hover {
	color: #d5d5d5;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

#divider {
	width: 100%;
	height: 75px;
}

.topLogo {
	height: 65px;
	padding: 5px 0 0 10px;
}

.forumButtons {
	height: 75px;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.forumButtons input {
	display: inline-block;
	height: 45px;
	width: 180px;
	font-size: 1.4em;
	background-color: #ebebeb;
}

.forumButtons input:hover {
	cursor: pointer;
	background-color: #d5d5d5;
}

.leftButton {
	border: none;
	border-right: 1px solid #151515;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.rightButton {
	border: none;
	border-left: 1px solid #151515;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.profileButtons {
	line-height: 75px;
	padding-right: 20px;
}

.dropBtn {
}

.dropDown {
	position: relative;
	display: inline-block;
}

.dropDownContent {
	display: none;
	position: absolute;
	min-width: 300px;
	z-index: 3;
	background-color: white;
}

.dropDownContent a {
	color: black;
	display: block;
}

.dropDown:hover .dropDownContent {
	display: block;
}

.profileMenuSection {
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.profileThumb {
	height: 50px;
}

.profileThumb img {
	width: 50px;
	height: 50px;
}

/* ========================================= */

/* ========== SIDE NAVIGATION BAR ========== */

.mainBody {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.sidebar {
	width: 200px;
	min-width: 200px;
	height: 100vh;
	background-color: #151515;
	margin: 0;
	padding: 0;
	float: left;
	display: flex;
	flex-direction: column;
}

.sidebarHeader {
	color: #f7f7f7;
}

.sideSection {
	width: 200px;
	height: auto;
	padding: 10px 5px 10px 5px;
}

.sorting {
	display: flex;
	flex-direction: column;
}

.sorting a {
	padding: 5px 0 5px 0;
}

/* ========================================= */

.container {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.postsContainer {
	width: 100%;
	height: auto;
	padding: 75px 0 0 0;
}

.forumTitle {
	font-size: 40px;
}

#divider {
	width: 30px;
	height: 100px;
}