/*// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/** ==============COLOUR SCHEME===================
* Primary Main = #ec8c25
* Primary Dark = #b4620a
* Primary Light = #fbb76d
* Secondary Main = #151515
* Secondary Dark = #090909
* Secondary Light = #222222
* Tirtiary Main = #ebebeb
* Tirtiary Dark = #d5d5d5
* Tirtiary Light = #f7f7f7


*font-family: 'Heebo', sans-serif;
*===============================================*/

.artworkThumbSection {
	width: 100%;
	height: auto;
	background-color: #151515;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.artworkContainer {
	width: 300px;
	height: 225px;
	background-color: #b4620a;
	border: 1px solid #000;
	margin: 10px;
}

.artTitleSection {
	width: 100%;
	height: 75px;
	background-color: #ebebeb;
	margin: 0;
	padding: 0;
}

.threadTitle {
	line-height: 75px;
	padding-left: 200px;
	font-size: 1.6em;
}

.artImageSection {
	width: 100%;
	height: 400px;
	background-color: #222222;
}

.artDescriptionSection {
	width: 100%;
	height: 200px;
	background-color: #d5d5d5;
}