/*// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/** ==============COLOUR SCHEME===================
* Primary Main = #ec8c25
* Primary Dark = #b4620a
* Primary Light = #fbb76d
* Secondary Main = #151515
* Secondary Dark = #090909
* Secondary Light = #222222
* Tirtiary Main = #ebebeb
* Tirtiary Dark = #d5d5d5
* Tirtiary Light = #f7f7f7
*font-family: 'Heebo', sans-serif;
*===============================================*/

.artworkThumbSection {
	width: 100%;
	padding: 25px 0 0 0;
	height: auto;
}

.thumbnail {
	width: 100%;
	height: auto;
	position: relative;
}

.thumbImg {
	width: 100%;
	height: auto;
}

.thumbImg img {
	width: 100%;
	height: auto;
}

.thumbToggles {
	width: 100%;
	height: 100%;
	position: absolute;
/*	background-color: #135790;*/
	display: flex;
	flex-direction: row;
}

.tToggle {
	height: 100%;
/*	background-color: #123566;*/
	/*border: 1px solid #000;*/
	flex-grow: 1;
}

.infoSection {
	width: 92%;
	padding: 15px 4% 10px 4%;
	height: auto;
	background-color: #ebebeb;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.title {
	padding-bottom: 5px;
}

.info .title a{
	width: 80%;
	text-decoration: none;
	color: #151515;
	font-size: 1.4em;
	font-weight: 700;
}

.info .title a:hover {
	color: #b4620a;
}



.info p {
	padding: 6px 0 6px 0;
}

/*.info p.category {
	font-weight: 700;
}*/

.tagLink {
	text-decoration: none;
	color: #151515;
	font-weight: 700;
}

.tagLink:hover {
	color: #b4620a;
}

.catLink {
	text-decoration: none;
	color: #151515;
	font-weight: 700;
}

.catLink:hover {
	color: #b4620a;
}

.voteSection {
	width: auto;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: flex-start;
	align-items: center;
}

.vote {
	display: flex;
	height: 36px;
	align-items: center;
}

.arrow {
	width: 35px;
	height: 25px;
}

.extraInfo {
	width: 92%;
	color: #222222;
	background-color: #d5d5d5;
	padding: 0 4% 0 4%;
	font-size: 0.9em;
}

.extraInfo p {
	padding: 10px 0 10px 0;
}

.artworkContainer {
	width: 300px;
	height: auto;
	background-color: #232323;
	-webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	-moz-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	margin: 7px;
	display: flex;
	flex-direction: column;

}

#arts {
	margin: 0 auto;
}
/*--------------------------------------------*/





.artToggles {
	width: 10%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.tContainer {
	margin: 30px 0 30px 0;
	font-family: 'Heebo', sans-serif;
	color: #ebebeb;
}



.noteArtImageSection {
	width: 100%;
	height: auto;
	background-color: #222222;
	display: flex;
	align-items: center;
}

.noteArtImageGallery {
	width: 60%;
	height: auto;
	margin: 0 0% 0 20%;
	padding: 40px 0 40px 0;
	position: relative;
}

.noteArtImage {
	width: 100%;
	position: absolute;
	z-index: 1;
}

.noteArtImage img {
	width: 100%;
	height: auto;
	position: relative;
}


.noteCanvas {
	position: absolute;
	z-index: 2;
}

/*-----------------------------------------------*/


.artImageSection {
	width: 100%;
	height: auto;
	background-color: #222222;
	display: flex;
	align-items: center;
}

.artImageGallery {
	width: 60%;
	height: auto;
	padding: 40px 0 10px 0;
	position: relative;
	margin: 0 0 0 20%;
}

.artImage {
	width: 100%;
	z-index: 1;
	position: relative;
}
.artImgHolder {
	width: 100%;
	z-index: 1;
	position: relative;
}

.artImageHolder img {
	width: 100%;
	height: auto;
	position: absolute;
}

.noteImage {
	z-index: 2;
	width: 100%;
	height: auto;
	position: relative;
}

.artImageControls {
	width: 96%;
	padding: 10px 2% 10px 2%;
	display: flex;
	justify-content: space-between;
	position: relative;
}


/*-----------------------------------------------*/


.noteSection {
	background-color: #151515;
	padding: 10px 0 10px 0;
	width: 100%;
	height: auto;
	margin: 0 0 40px 0;
}

.noteSection h2 {
	width: 96%;
	padding: 10px 2% 10px 2%;
	background-color: #151515;
	color: #ebebeb;
}

.note {
	width: 92%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 2% 20px 2%;
	margin: 10px 2% 10px 2%;
	background-color: #d5d5d5;
	-webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}

.hiddenNote {
	display: none;
}

.noteHide {
	cursor: pointer;
}

.noteShow {
	cursor: pointer;
}

.hiddenBtn {
	display: none;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.addImageSection {
	margin: 30px 0 0 0;
}

/** ==============COLOUR SCHEME===================
* Primary Main = #ec8c25
* Primary Dark = #b4620a
* Primary Light = #fbb76d
* Secondary Main = #151515
* Secondary Dark = #090909
* Secondary Light = #222222
* Tirtiary Main = #ebebeb
* Tirtiary Dark = #d5d5d5
* Tirtiary Light = #f7f7f7


*font-family: 'Heebo', sans-serif;
*===============================================
*/

.addImageSection h3 {
	font-family: 'Heebo', sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	color: #151515;
	margin: 0 0 20px 0;
}

.reviewContainer {
	width: 100%;
	height: auto;
}

.review {
	width: 100%;
	margin: 20px 0 20px 0;
	background-color: #d5d5d5;
	-webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}

.reviewTitle {
	height: auto;
	font-size: 1.4em;
	width: 96%;
	padding: 20px 2% 20px 2%;
}

.content {
	height: auto;
	line-height: 22px;
	font-size: 1.2em;
	width: 96%;
	padding: 0 2% 20px 2%;
}

.reviewLinks {
	width: 96%;
	padding: 0 2% 20px 2%;
}


/*---------------------------------------*/

.noteContent {
	display: none;
}

.NoteToggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

}

.reviewToggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	height: 75px;
	line-height: 75px;
}

.toggleArrow {
	width: 20px;
	height: auto;
	transition: 0.2s;
	margin-right: 10px;
}

.toggleArrowActive {
	transform: rotate(180deg) ;
  -webkit-transform: rotate(180deg) ;
  -moz-transform: rotate(180deg) ;
  -o-transform: rotate(180deg) ;
  -ms-transform: rotate(180deg) ;
  transition: 0.2s;
}

/*---------------------------------------*/


/* ========================================== */
/* ==================MEDIA QUERIES=========== */
/* ========================================== */

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1000px) {
	
	
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {
	.artworkContainer {
		width: 250px;
		height: auto;
	}
}




/* ========================================== */
/* ========================================== */
/* ========================================== */