/*// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/


.commentHeader {
	font-family: 'Heebo', sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	color: #151515;
	margin: 40px 5% 20px 5%;

}
 
.comment {
	width: 96%;
	margin: 20px 2% 20px 2%;
	background-color: #d5d5d5;
	-webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}

.commentContent {
	height: auto;
	line-height: 22px;
	margin-bottom: 10px;
	font-size: 1.2em;
	width: 96%;
	padding: 0 2% 0 2%;
}

.commentTopInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 96%;
	padding: 20px 2% 0 2%;
}

.commentVoting {
	display: flex;
	flex-direction: row;
}

.commentBottomInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 96%;
	padding: 0 2% 20px 2%;
}
