/*// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/


.commentHeader {
	font-family: 'Heebo', sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	color: #151515;
	margin: 40px 0 20px 0;

}

/*.commentContainer {
	-webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
}*/
 
.comment {
	width: 96%;
	height: auto;
	padding: 20px 2% 20px 2%;
	display: flex;
	flex-direction: column;
	background-color: #ebebeb;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.commentCurrent {
	display: flex;
	margin-bottom: 10px;
}

.commentMain {
	flex-grow: 1;
	height: auto;
}

.commentReply {
	border-left: 2px solid #151515;
	padding-left: 10px;
}

.commentMainTop {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 15px 0;
}

.commentUserPic {
	margin-right: 5px;
}
.commentUserPic img {
	width: 40px;
	height: auto;
	border: 2px solid #151515;
}

.commentMainContent {
	width: 100%;
	height: auto;
	padding: 0 0 15px 0;
	line-height: 20px;
}

.commentMainControls {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.commentVoting {
	display: flex;
	align-items: center;
}


.commentUserName {
	text-decoration: none;
	font-weight: 700;
	color: #151515;
}

.commentUserName:hover {
	color: #b4620a;
}

/* ========================================== */
/* ==================MEDIA QUERIES=========== */
/* ========================================== */

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1000px) {
	
}

@media screen and (max-width: 600px) {

}




/* ========================================== */
/* ========================================== */
/* ========================================== */