/*
* ==============COLOUR SCHEME===================
* Primary Main = #ec8c25
* Primary Dark = #b4620a
* Primary Light = #fbb76d
* Secondary Main = #151515
* Secondary Dark = #090909
* Secondary Light = #222222
* Tirtiary Main = #ebebeb
* Tirtiary Dark = #d5d5d5
* Tirtiary Light = #f7f7f7


*font-family: 'Heebo', sans-serif;
*===============================================
 */
.messagesContainer {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding-top: 75px;
	padding-bottom: 200px;
	color: #151515;
}

.msgSection {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin: 20px 5% 20px 5%;
}

.selfSection {
	justify-content: flex-end;
}

.themSection {
	justify-content: flex-start;
}


.message {
	width: 300px;
	height: auto;
	border-radius: 5px;
	-webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.75);
  padding: 15px;
  line-height: 20px;

}

.messageSelf {
	background-color: #ebebeb;
}

.messageThem {
	background-color: #ebebeb;
}

.msgTime {
	margin-top: 10px;
	font-size: 0.7em;
	float: right;
}

.msgTitle {
	width: 90%;
	padding: 0 5% 0 5%;
	height: 75px;
	background-color: #d5d5d5;
	line-height: 75px;
	font-size: 1.6em;
	font-weight: 700;
	font-family: 'Heebo', sans-serif;
	position: fixed;
	-webkit-box-shadow: -1px 2px 25px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 25px -7px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 25px -7px rgba(0,0,0,0.75);
	color: #151515;
}

.messageReplyForm {
	width: 90%;
	height: 200px;
	padding: 0 5% 0 5%;
	background-color: #d5d5d5;
	position: fixed;
	bottom: 0;
}

.new_message {
	width: 100%;
	height: 90%;
	padding: 5% 0 5% 0;
	display: flex;
	flex-direction: column;
}

.new_message textarea {
	height: 50%;
	border-radius: 5px;
}