.message {
	border: 1px solid #000;
	margin: 30px;
	width: 300px;
	border-radius: 5px;
}

.messageSelf {
	float: right;
	background-color: #123789;
}

.messageThem {
	float: left;
	background-color: #947583;
}