/*// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


.introSection {
	width: 96%;
	height: auto;
	display: flex;
	flex-direction: row;
	padding: 50px 2% 50px 2%;
	align-items: center;
}

.introText {
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.introText h1 {
	font-size: 2.4em;
	padding-bottom: 15px;
}

.introText p {
	font-size: 1.2em;
	line-height: 30px;
}

.introButton {
	width: auto;
	height: auto;
}

.introControls {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.introControls .btn {
		margin: 10px;
	}

.homeHeader {
	width: 96%;
	padding: 25px 2% 25px 2%;
	font-size: 2em;
}

.noContent {
	width: 96%;
	padding: 25px 2% 25px 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}



/* ========================================== */
/* ==================MEDIA QUERIES=========== */
/* ========================================== */

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1000px) {
	.introSection {
		flex-direction: column;
		width: 90%;
		padding: 50px 5% 50px 5%;

	}

	.introText {
		padding-bottom: 30px;
	}

	.introText h1 {
		font-size: 2em;
	}

	.introControls {
		height: 100px;
		flex-grow: none;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.homeHeader {
		width: 90%;
		padding: 50px 5% 50px 5%;
	}

	.noContent {
		width: 90%;
		padding: 50px 5% 50px 5%;
	}
	
}

@media screen and (max-width: 600px) {

}




/* ========================================== */
/* ========================================== */
/* ========================================== */