/*
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/



.postContainer {
	width: 96%;
	margin: 20px 2% 20px 2%;
	background-color: #ebebeb;
	-webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	-moz-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	display: flex;
	flex-direction: row;
}

.postThumbLeft {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.leftInner {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.postThumbRight {
	background-color: #d5d5d5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0 20px 0 20px;
}

.leftSection {
	height: 50%;
	width: 96%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 25px 2% 25px 2%;
}

.title  a {
	width: 80%;
	text-decoration: none;
	color: #151515;
	font-size: 1.4em;
	font-weight: 700;
}

.title a:hover {
	color: #b4620a;
}

.postThumbRight .date {
	font-size: 0.9em;
}

.profileIcon {
	width: 100%;
	height: 100%;
}

.questionSection {
	background-color: #d5d5d5;
	padding-top: 40px;
	padding-bottom: 40px;
	line-height: 22px;
}



/* ========================================== */
/* ==================MEDIA QUERIES=========== */
/* ========================================== */

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1000px) {
	
}

@media screen and (max-width: 600px) {
	.postContainer {
		display: flex;
		flex-direction: column;
	}

	.leftSection {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 10px 2% 10px 2%;
	}

	.leftSection p {
		padding: 5px 0 5px 0;
	}

	.postThumbRight {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		flex-wrap: wrap;
	}

	.postThumbRight .date {
		margin-top: 10px;
	}
	
	.title  a {



		font-size: 1.2em;
		font-weight: 700;
	}
}




/* ========================================== */
/* ========================================== */
/* ========================================== */