.form
	.inner
		=simple_form_for([@artwork, @artwork.reviews.build]) do |f|
			.formItem.formInput
				= f.text_area :content
			.formItem
				= f.submit 'Submit Review', :class => "btn btn-m btn-light btn-submit"