.reviewContainer
	.review
		.reviewUser
			-if review.user != nil
				.commentUserPic
					=image_tag review.user.avatar.url(:thumb), :class => "commentUserThumb"
				%p
					=link_to review.user.username, review.user, :class => "commentUserName"
					posted a review:
			- else 
				%p [User Deleted]
		.reviewContent
			%p= review.content
		.reviewApproval
			%p
				Users that agree with this review: 
				= review.get_upvotes.size
		.reviewControls
			- if user_signed_in?
				- if current_user.id == review.user_id
					=link_to "Delete Review", [@artwork, review] , method: :delete, :data => { confirm: 'Delete Review?',
																																										  'confirm-button-text': 'Delete',
																																										  'cancel-button-text': 'Cancel',
																																										  'confirm-button-color': '#ec8c25',
																																										  'cancel-button-color': '#151515',
																																										  'sweet-alert-type': 'warning'}, :class => "btn btn-s btn-dark"
				- else
					= link_to "Approve of this Review", review_approve_path(review), method: :put, :class => "btn btn-s btn-orange"
		
		