.sidebar
	- if section == 1
		%h2.sidebarHeader Artwork
	- else
		%h2.sidebarHeader Post
	.sideSection.forumLinks
		= link_to artworks_path, class: "fLink" do
			.fLinkButton Artwork Forum
		= link_to posts_path, class: "fLink" do
			.fLinkButton Question Forum
	.category.sideSection
		%h2.sidebarHeader Art/Design Category
		- @categories.each do |cat|
			%p= link_to cat.name, cat


		/ = search_form_for @search, class: "sidebarForm" do |f|
		/ 	= f.select  :cat_matches, :collection => %w[Fine_Art Digital_Painting 3D_Model Concept_Art Drawing Graphic_Design UI_Design Photography]
		/ 	= f.submit


	.sorting.sideSection
		%h2.sidebarHeader Sort by
		/ = sort_link @search, :created_at, "Date Created"
		/ = sort_link @search, :title, "By Title"
		/ = sort_link @search, :cached_votes_up, "By Upvotes"
		/ = sort_link @search, :cached_votes_down, "By Downvotes"
		/ = sort_link @search, :answered, "Answered"


	
	
/ = search_form_for @search, :class => "searchBar" do |f|
/ 				= f.condition_fields do |c|
/ 					= c.attribute_fields do |a|
/ 						= a.attribute_select
/ 					= c.value_fields do |v|
/ 						v.text_field :value

/ 				= f.submit